<button (click)="print()">Imprimir</button>

    <!-- <table mat-table [dataSource]="registros" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="observaciones">
            <th mat-header-cell *matHeaderCellDef> Observaciones </th>
            <td mat-cell *matCellDef="let element"> {{element.observaciones}} </td>
        </ng-container>

        <ng-container matColumnDef="toqueAnden">
            <th mat-header-cell *matHeaderCellDef> Toque de anden </th>
            <td mat-cell *matCellDef="let element"> {{element.toqueAnden | date:'dd/MM/yyyy HH:mm' }} </td>
        </ng-container>

        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef> Tipo </th>
            <td mat-cell *matCellDef="let element"> {{element.turno.tipo.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef> Hora </th>
            <td mat-cell *matCellDef="let element"> {{element.turno.hora}} </td>
        </ng-container>

        <ng-container matColumnDef="origen">
            <th mat-header-cell *matHeaderCellDef> Origen </th>
            <td mat-cell *matCellDef="let element"> {{element.turno.salidaDesde}} </td>
        </ng-container>

        <ng-container matColumnDef="destino">
            <th mat-header-cell *matHeaderCellDef> Destino </th>
            <td mat-cell *matCellDef="let element"> {{element.turno.destino}} </td>
        </ng-container>

        <ng-container matColumnDef="cocheNro">
            <th mat-header-cell *matHeaderCellDef> Nro Coche </th>
            <td mat-cell *matCellDef="let element"> {{element.coche.numero}} </td>
        </ng-container>

        <ng-container matColumnDef="matricula">
            <th mat-header-cell *matHeaderCellDef> Matricula </th>
            <td mat-cell *matCellDef="let element"> {{element.coche.matricula}} </td>
        </ng-container>

        <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef> Empresa </th>
            <td mat-cell *matCellDef="let element"> {{element.turno.empresa.razonSocial}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->

    <table>
        <thead>
        <tr>
          <th>Observaciones</th>
          <th>Toque de andén</th>
          <th>Tipo</th>
          <th>Hora</th>
          <th>Origen</th>
          <th>Destino</th>
          <th>Nro Coche</th>
          <th>Matrícula</th>
          <th>Empresa</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let element of registros">
          <td >{{element.observaciones}}</td>
          <td >{{element.toqueAnden | date:'dd/MM/yyyy HH:mm' }}</td>
          <td >{{element.turno.tipo.nombre}}</td>
          <td >{{element.turno.hora}}</td>
          <td >{{element.turno.salidaDesde}}</td>
          <td >{{element.turno.destino}}</td>
          <td >{{element.coche.numero}}</td>
          <td >{{element.coche.matricula}}</td> 
          <td >{{element.turno.empresa.razonSocial}}</td>   
        </tr>
        </tbody>
      </table>


