<mat-toolbar class="navbar" color="primary">
    <mat-toolbar-row>
        <span class="title" [routerLink]="['/']"> Terminal </span>
    </mat-toolbar-row>
    <mat-toolbar-row class="shadow">
        <span>Turnos</span>
        <span class="spacer"></span>
        <span>
            <app-clock></app-clock>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="mat-elevation-z0">

    <ng-container>
        <form [formGroup]="searchForm" (submit)="submit()" >
            <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column" fxLayoutGap.lt-md="10px" fxLayoutAlign="space-between center">
                <mat-form-field appearance="fill">
                    <mat-label>Hora</mat-label>
                    <input matInput type="time" name="hora" formControlName="hora">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Fecha</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fecha">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                </mat-form-field>

                <div ngClass.lt-md="block">
                    <button class="block" mat-flat-button type="button" color="warn" (click)="limpiar()">Limpiar</button>
                </div>

                <div ngClass.lt-md="block">
                    <button class="block" mat-flat-button type="submit" color="primary">Buscar</button>
                </div>
            </div>
        </form>

        <mat-divider class="divider" [inset]="true"></mat-divider>
    </ng-container>

    <table mat-table [dataSource]="getDataSource()" class="mat-elevation-z8">

        <ng-container matColumnDef="fotoEmpresa">
            <th mat-header-cell *matHeaderCellDef> Foto </th>

            <td mat-cell *matCellDef="let element"> <img *ngIf="element.empresa_imagen; else elseblock"
                    mat-card-lg-image [src]='backendUrl + element.empresa_imagen' alt="">
                <ng-template #elseblock>
                    NO TIENE
                </ng-template>
            </td>
        </ng-container>

        <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef> Empresa</th>
            <td mat-cell *matCellDef="let element"> {{element.empresa_razonSocial | uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="origen">
            <th mat-header-cell *matHeaderCellDef> Origen</th>
            <td mat-cell *matCellDef="let element"> {{element.turno_salidaDesde | uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="destino">
            <th mat-header-cell *matHeaderCellDef> Destino</th>
            <td mat-cell *matCellDef="let element"> {{element.turno_destino | uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="horaTurno">
            <th mat-header-cell *matHeaderCellDef> Hora </th>
            <td mat-cell *matCellDef="let element"> {{element.turno_hora}} </td>
        </ng-container>


        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let element"> <b>{{element.estado ?? "-" | uppercase}}</b> </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
    </table>

</mat-card>