<mat-toolbar class="navbar" color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="showSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="title" [routerLink]="['/']"> Terminal </span>
        <span class="spacer"></span>
        <div *ngIf="!mobile">
            <app-navbar-buttons></app-navbar-buttons>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="mobile" fxLayout="row" fxLayoutAlign="space-around center">
        <app-navbar-buttons></app-navbar-buttons>
    </mat-toolbar-row>
    <mat-toolbar-row class="shadow">
        <span>{{this.titleService.getTitle()}}</span>
    </mat-toolbar-row>
</mat-toolbar>