<mat-dialog-content>
    <mat-form-field appearance="fill">
        <mat-label>Fecha desde</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="fechaDesde">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Fecha hasta</mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)]="fechaHasta">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button [mat-dialog-close]="true" color="primary" (click)="filtrar()">Generar</button>
    <button mat-flat-button mat-dialog-close cdkFocusInitial>Cerrar</button>
</mat-dialog-actions>



