<div fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex.lt-sm="100" fxFlex.gt-sm="40" fxFlex.gt-lg="25" class="card">

        <mat-card-content>
            <form [formGroup]="registrosForm">
                <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-between start">
                    <h1 color>Coche</h1>
                    <mat-divider [inset]="true"></mat-divider>

                    <mat-form-field appearance="fill">
                        <mat-label>Observaciones</mat-label>
                        <input matInput formControlName="observaciones">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Buscar</mat-label>
                        <input matInput (keyup)="busqueda($event)">
                     </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Coche</mat-label>
                        <mat-select matSelect formControlName="cocheId">
                          <mat-option *ngFor="let coche of coches" [value]="coche.id">
                            {{coche.matricula}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Turno</mat-label>
                        <mat-select matSelect formControlName="turnoId">
                          <mat-option *ngFor="let turno of turnos" [value]="turno.id">
                            {{turno.hora}} a {{turno.destino}} desde {{turno.salidaDesde}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </form>
        </mat-card-content>

        <mat-card-actions align="end">
            <button onclick="history.back(-1)" mat-raised-button type="button" color="primary">Cancelar</button>
            <button (click)="submit()" [disabled]="registrosForm.invalid" mat-raised-button type="submit"
                color="primary">Confirmar</button>
        </mat-card-actions>

    </mat-card>
</div>