<div fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex.lt-sm="100" fxFlex.gt-sm="40" fxFlex.gt-lg="25" class="card">

        <mat-card-content>
            <form [formGroup]="cocheForm">
                <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-between start">
                    <h1 color>Coche</h1>
                    <mat-divider [inset]="true"></mat-divider>

                    <mat-form-field appearance="fill">
                        <mat-label>Numero</mat-label>
                        <input matInput type="number" formControlName="numero">
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="margin-top: 8px;">
                        <mat-label>Matricula</mat-label>
                        <input matInput formControlName="matricula">
                    </mat-form-field>

                    <mat-form-field appearance="fill" *ngIf="tokenService.getRoleName() == 'Administrador'">
                        <mat-label>Empresa</mat-label>
                        <mat-select matSelect formControlName="empresa">
                          <mat-option *ngFor="let empresa of dataSource" [value]="empresa.id">
                            {{empresa.razonSocial}}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </form>
        </mat-card-content>

        <mat-card-actions align="end">
            <button onclick="history.back(-1)" mat-raised-button type="button" color="primary">Cancelar</button>
            <button (click)="submit()" [disabled]="cocheForm.invalid" mat-raised-button type="submit"
                color="primary">Confirmar</button>
        </mat-card-actions>

    </mat-card>
</div>