/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #e0edeb,
    100 : #b3d2ce,
    200 : #80b4ad,
    300 : #4d958c,
    400 : #267f74,
    500 : #00685b,
    600 : #006053,
    700 : #005549,
    800 : #004b40,
    900 : #003a2f,
    A100 : #70ffdd,
    A200 : #3dffd1,
    A400 : #0affc5,
    A700 : #00f0b7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
)

